<div class = 'popup_parent_cont'>
  <div class = 'popup' >
    <div class = 'popup_login_cont'>
      <h2>Авторизация</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class = 'login_field'>
          <%= f.label 'Электронная почта' %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class = 'login_field'>
          <%= f.label 'Пароль' %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class = 'login_field'>
            <%= f.check_box :remember_me %>
            <%= f.label 'Запомнить меня' %>
          </div>
        <% end -%>


    <div class = 'devise_custom_btn comment_login_btn'>
      <%= f.button :button do %>
        Войти
      <% end %>
    </div>

      <% end %>

    <div class = 'login_links'>
      <%= link_to 'Забыли пароль? ни беда', new_password_path(resource_name) %><br />
    </div>
    <div class = 'login_links'>
      <%= link_to 'Зарегистрироваться', new_registration_path(resource_name) %><br />
    </div>
    </div>

    <div class = 'close'>
    </div>
  </div> 
</div>
