<% @articles.each do |a| %>
	<%= link_to article_path(a.id) do %>
		<div class = 'article_block'>
			<div class = 'article_pic'>
			  <%= image_tag a.article_pic.url(:normal) %>
			</div>
			<div class = 'article_title'>
			  <%= a.title %>
			</div>
			<div class = 'article_preview'>
				  <%= a.preview %>
				<div class = 'comment_pic'>
				</div>
			    <%= a.likes %>
			  <div class = 'view_pic'>
				</div>
				  <%= a.views %>
			</div>
		</div>
	<% end %>
<% end %>