<div class = 'article_block'>
	<div class = 'article-_pic'>
	</div>
	<div class = 'article_title'>
	  Название статьи, которое очень красиво смотрится, когда на него смотришь
	</div>
	<div class = 'article_preview'>
		Пару слов об этой статье, которые ласкают слух.
		<div class = 'comment_pic'>
		</div>
	  <%= link_to '7'%>
	  <div class = 'view_pic'>
		</div>
		<%= link_to '13'%>  	
	</div>
</div>

<div class = 'article_block'>
	<div class = 'article-_pic'>
	</div>
	<div class = 'article_title'>
	  Название статьи, которое очень красиво смотрится, когда на него смотришь
	</div>
	<div class = 'article_preview'>
		Пару слов об этой статье, которые ласкают слух.
		<div class = 'comment_pic'>
		</div>
	  <%= link_to '7'%>
	  <div class = 'view_pic'>
		</div>
		<%= link_to '13'%>  	
	</div>
</div>

<div class = 'article_block'>
	<div class = 'article-_pic'>
	</div>
	<div class = 'article_title'>
	  Название статьи, которое очень красиво смотрится, когда на него смотришь
	</div>
	<div class = 'article_preview'>
		Пару слов об этой статье, которые ласкают слух.
		<div class = 'comment_pic'>
		</div>
	  <%= link_to '7'%>
	  <div class = 'view_pic'>
		</div>
		<%= link_to '13'%>  	
	</div>
</div>

<div class = 'article_block'>
	<div class = 'article-_pic'>
	</div>
	<div class = 'article_title'>
	  Название статьи, которое очень красиво смотрится, когда на него смотришь
	</div>
	<div class = 'article_preview'>
		Пару слов об этой статье, которые ласкают слух.
		<div class = 'comment_pic'>
		</div>
	  <%= link_to '7'%>
	  <div class = 'view_pic'>
		</div>
		<%= link_to '13'%>  	
	</div>
</div>

<div class = 'article_block'>
	<div class = 'article-_pic'>
	</div>
	<div class = 'article_title'>
	  Название статьи, которое очень красиво смотрится, когда на него смотришь
	</div>
	<div class = 'article_preview'>
		Пару слов об этой статье, которые ласкают слух.
		<div class = 'comment_pic'>
		</div>
	  <%= link_to '7'%>
	  <div class = 'view_pic'>
		</div>
		<%= link_to '13'%>  	
	</div>
</div>

<div class = 'article_block'>
	<div class = 'article-_pic'>
	</div>
	<div class = 'article_title'>
	  Название статьи, которое очень красиво смотрится, когда на него смотришь
	</div>
	<div class = 'article_preview'>
		Пару слов об этой статье, которые ласкают слух.
		<div class = 'comment_pic'>
		</div>
	  <%= link_to '7'%>
	  <div class = 'view_pic'>
		</div>
		<%= link_to '13'%>  	
	</div>
</div>


