<div class = 'article_cont'>
	<h2>Гайд на героя Phantom Lancer</h2>

	<h3>Что нужно понимать в первую очередь</h3>

	<b>Phantom Lancer</b> далее просто Фантом это:
	<ol>
		<li><b>Кэрри</b> ближнего боя с неплохим пуш потенциалом</li>
		<li><b>Сила и слабость</b> Фантома в его иллюзиях</li>
		<li>Имеет отличный <b>эскейп механизм</b>. Забавно, но если немного подумать, то все способности Фантома прямо или косвенно помогают ему в побеге</li>
		<li>Кулдауны скиллов Фантома достаточно <b>коротки</b>, что позволяет <b>в любой момент</b> ввязаться в драку в полной боевой готовности (Разумность участия в той или иной драке это уже другой вопрос)</li>
	</ol>
	
	<hr>

	<h3>Скиллы героя и их механика</h3>

	<div class = 'skill_cont'>
		<div class ='skill_pic'>
			<%= image_tag 'skill_picture/phantom_lancer_skill_1.png' %>
		</div>
	    <b>Spirit lance.</b> Наш нюк с магическим уроном и замедлением. Добить, догнать, убежать, а ещё с его помощью можно эффектно добить врага, подробнее об этом ниже в разделе "Трюки". 
	</div>

	<hr>

	<div class = 'skill_cont'>
	<div class ='skill_pic'>
		<%= image_tag 'skill_picture/phantom_lancer_skill_2.png' %>
	</div>
	<b>Doppelganger.</b> Фантом на секунду исчезает с поля боя вместе со своими иллюзиями, находящимися в радиусе дальности сбора иллюзий, после чего появляется с ними и ещё двумя иллюзями в выбраной области. Фантом и иллюзии рандомно распределяются по этой области. Универсальный скилл с ним можно:
		<ul>
			<li><b>Увернуться</b> от летящего в вас заклинания, например, от стана Свена или Венги.</li>
			<li><b>Снимать</b> с себя дебаффы. Перечень снимаемых дебаффов указан ниже.</li>
			<li>Пойти в атаку. Только не надо начинать её именно с этого скилла, ведь за ту секунду пока вы будите отсутствовать, скастовав второй скилл, враг может значительно сместиться или, вдруг, у него как раз за эту секунду откатится его блинк даггер. Правильнее будет сначала кинуть во врага копьё и только потом использовать второй скилл.</li>
			<li><b>Убежать.</b> В доте не редки ситуации, когда нападение вашей команды идёт не по плану, в таких ситуациях второй скилл может помочь вам уйти. При побегах от команды соперников, по возможности пытайтесь использовать переходы с возвышенности на низменность и наоборот это значительно повысит ваши шансы на удачный побег.</li>
			<li><b>Обмануть.</b> После каста способности появляются две иллюзии бледно оранжевая и ярко жёлтая. Нам интересна жёлтая иллюзия ведь она получает ровно такой же урон как и сам Фантом, но не наносит урона вообще. Тут начинаются мини mind games вы можете пустить Фантома и ярко жёлтую иллюзию в разных направлениях, можете направить их в одном направлении и секунду погодя развести их в разные стороны, можете вообще оставить стоять Фантома на месте, а жёлтой иллюзией начать убегать. При этом можно оранжевой иллюзией умудриться постопить одного из врагов. Вариантов разводов на иллюзии можно придумать множество, не ограничивайте свою фантазию.</li>
		</ul>
  </div>

	<hr>

	<div class = 'skill_cont'>
		<div class ='skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">
		</div>
		<b>Phantom rush.</b> Благодаря этому скиллу у Фантома мало проблем с тем, чтобы нагнать жертву. Казалось бы что тут говорить - обычный разгон, но это не просто разгон, это раш Фантома и необоходимо понимать следующие моменты:
		<ul>
			<li>Начиная свой разбег вы <b>провацируете</b> врага на какие-либо действия. Например, вы стоите с Мираной и чтобы истощить её запасы маны, вы постоянно рашите её, Мирана понимает, что ей размениваться ударами с вами невыгодно и упрыгивает на своём третьем скилле, тратя свою ману, Фантом же при этом не тратит ману вообще. Естественно такие провакации надо делать с умом, следите за тем, чтобы не отхватить падач от крипов.</li>
			<li>Заметьте, что во время раша скорость фантома просто <b>дикая - 800! Attention!</b></li>
			<li>Использование предметов <b>останавливает</b> раш Фантома. Например, вы купили
				<div class ='small_pic'>
				  <img src = "/assets/item_picture/abyssal_blade.jpg">
				</div>
				, увидели пушачего Тинкера сказали своей тиме "го го го отправим в таверну его!" и вот вы уже на расстояние около 1200, 1000, начинается разгон, и вот вы уже в на расстоянии 600 от него, направляете активную способность скилл башера на врага! ... Но что такое? Почему Фантом прекратил разгон? Всё потому, что любое использование предметов прерывает разгон Фантома, да и вообще любое ваше действие прерывает раш кроме повторного клика на цель разгона.</li>
			<li>Способность можно использовать <b>только на вражеских юнитах или нейтралах</b>. Иногда это можно использовать, чтобы убежать. Ситуация: вы убегаете и видите впереди вражеских крипов или вражескую башню, <b>ни секунды не сомневаясь</b>, вы кликаете по ним правой кнопкой мыши, максимально сближаетесь с целью и продолжайте побег.</li>
		</ul>
	</div>

	<hr>

	<div class = 'skill_cont'>
		<div class ='skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
	  <b>Juxtapose.</b> С каждым ударом по вражеским юнитам (кроме строений) или нейтральным крипам у Фантома есть шанс создать рядом с собой свою иллюзию. Обратите внимание, что иллюзии появляющиеся от ульты по части урона немного слабее тех, что появляются с первого и второго скилла. Поэтому, когда дерётесь старайтесь делать так чтобы иллюзии от первого и второго скилла участвовали в драке.
	</div>

	<hr>

	<h3>Стадия пика</h3>

	<div class = 'article_text_block'>
		Фантом герой ни для первых пиков. Постарайтесь по возможности пикать последним или предпоследним. Уважайте свою команду и предварительно пишите в чат, что вы хотите пикнуть последним. На стадии пика <b>важно обратить внимание</b> на следующие вещи:
	</div>

	<ul>
		<li>Аое урон противника</li>
		<li>Наличие хард кэрри, который в лейте будет сильнее фантома</li>
		<li>Контрпики</li>
	</ul>

	<div class = 'article_text_block'>
		<b>AoE урон.</b> Чем больше этого самого аое урона, тем менее эффективным будет пикнуть Фантома. Нужно понимать, что наличие аое урона Фантома контрит не жёстко, но его наличии заставляет на время отказаться от покупок предметов на урон в пользу предметов на жирность. Также берите во внимание, что от любого аое заклинания вы можете увернуться при помощи
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">
		</div>
		<b>Doppelganger</b> (только не забывайте про кулдаун способности). Когда вы впервые увернётесь при помощи него, например, от 
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/tidehunter_skill_4.png">
		</div> 
		<b>Ravage</b> Тайда, испытаете приятные эмоции.
	</div>

	<div class = 'article_text_block'>
		<b>Наличие хард кэрри.</b> Фантом хороший кэрри, но он не хард кэрри. Если видите, что противники взяли, например, Тини отдавайте себе отчёт, что, пикая при этом Фантома, уводить игру в лейт вам невыгодно, да и в принципе на ранней стадии он вам тоже может лицо разбить. 
	</div>
		
	<div class = 'article_text_block'>
		<b>Контрпики кэрри.</b> Самый явный контрпик Фантома это свен, у этого парня есть всё, чтобы испортить жизнь Фантому на всех стадиях игры. Во-первых, пока он бьёт Фантома, благодаря своей пассиве 
	  <div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/sven_skill_2.png">
		</div> 
		<b>Great cleave</b> он не даст Фантому хорошенько размножиться. Во-вторых, ульта Свена -
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/sven_skill_4.png">
		</div>
		<b>God's strength</b>
		В третьих, своей третьей способностью
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/sven_skill_3.png">
		</div>
		<b>Warcry</b> Свен повысит броню себе и союзникам, уменьшая получаемый физ. урон, а когда Фантом будет убегать от такого Свена, он даст стан
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/sven_skill_1.png">
		</div>
		<b>Storm hammer</b>
	</div>

	<div class = 'article_text_block'>
	Фантому, конечно, можно переждать ульту Свена, снять его бафф диффузами, увернуться от стана при помощи
	<div class ='small_skill_pic'>
	  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">
	</div>
	, ещё Фантом может попробовать перефармить Свена на голову, а если это всё не выйдет начать сплитпушить... Оно вам надо? Вообщем старайтесь не пикать Фантома после того как в пик рпотивника заехал Свен.	    	
	</div>

  <div class = 'article_text_block'>
	  Также от пика Фантома стоит воздержаться, если против вас кэрри, на которых хорошо сидит
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/battle_fury.jpg">
		</div>
		<b>Battle fury</b>. Например, Эмбер только обрадуется, что ему дали лишний повод купить этот предмет, он с ним хорошо фармит, а благодаря иллюзиям Фантома урон со сплэша от прыжков Эмбера будет только усиливаться.
	</div>

  <div class = 'article_text_block'>
    В теории ещё Гирокоптэр должен доставлять много проблем Фантому, но на практике Фантом закупается в жирность и дерётся с Гирочем на равных. 	
	</div>

	<div class = 'article_text_block'>
		<b>Контрпики саппортов.</b> Самый противный саппорт против Фантома это пожалуй Шейкер, а противен он тем, что не даёт Фантому свободно себя чувствовать в драке, благодаря своей ульте 
	  <div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/earthshaker_skill_4.png">
		</div>
		<b>Echo slam</b>, ведь по неосторожности Фантом может похоронить не только себя, но и свою команду. Выхода два Фантому и его тиме или приходится всеми правдами и неправдами разводить Шейкера на ульту или каким-то образом зафокусить и быстро сбрить его.
	</div>

	<div class = 'article_text_block'>
		Также по части контрпиков стоит отметить:
	</div>

	<div class = 'article_text_block'>
		<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/sand_king.jpg">	
		</div>
		<b>Sand king</b> - у него просто дикий AoE урон.
	</div>

	<div class = 'article_text_block'>
		<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/leshrac.jpg">	
		</div>
		<b>Leshrac</b> - в отличии от Сэнд Кинга мгновенный AoE урон меньше, но зато более продолжительный 
	</div>

	<div class = 'article_text_block'>
		<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/magnus.jpg">	
		</div>
		<b>Maguns</b> - по сути благодаря своему
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/magnus_skill_2.png">
		</div>
		может подарить БФ любому кэрри + имеет неплохой АоЕ урон. 
	</div>

	<div class = 'article_text_block'>
		<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/timbersaw.jpg">	
		</div>
		<b>Timbersaw</b> - очень много AoE урона, причём чистого, а если у него дела идут хорошо, то урон он этот будет доставлять без остановки. 
	</div>


	<hr>

  <h3>Ранняя стадия игры</h3>

  <div class = 'article_text_block'>
		Начальный закуп:
	</div>

	<div class = 'article_text_block'>
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/tango.jpg">
		</div>
		<b>Танго.</b> Нам нужен хил, чтобы как можно дольше оставаться на линии
	</div>

	<div class = 'article_text_block'>
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/healing_salve.jpg">
		</div>
		<b>Фласка.</b> Я серьёзно. Нам капец как нужен этот хил. На линии толковые враги будут стараться не давать нам фармить крипов, они будут бить нас - это неизбежно. Поэтому хороший кэрри, на старте всегда должен иметь при себе предметы на хил. 
	</div>

	<div class = 'article_text_block'>
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/ring_of_protection.jpg">
		</div>
		<b>Колечко.</b> Армор лишним не бывает + оно пригодится нам в дальнейшем.
	</div>

  <div class = 'article_text_block'>
		На оставшиеся деньги берём: 
	</div>

	<div class = 'article_text_block'>
		- Либо 
	  <div class ='small_pic'>
		  <img src = "/assets/item_picture/magic_stick.jpg">
		</div>
		<b>Стик</b>
		, если наши оппоненты на линии будут часто использовать свои активные способности   
	</div>

	<div class = 'article_text_block'>
		- Либо 
	  <div class ='small_pic'>
		  <img src = "/assets/item_picture/stout_shield.jpg">
		</div>
		<b>Щиток</b>
		, если есть подозрения, что нас часто будут пинать с руками, ногами, стрелами, пулями, сгустками энергии в форме шара или капельки, слюной ...   
	</div> 
		
	<h6>Этап 1</h6>

	<div class = 'article_text_block'>
	  Оказавшись на линии, первым делом докупите
	  <div class ='small_pic'>
		  <img src = "/assets/item_picture/mask_of_sage.jpg">
		</div>
		<b>Маску мудреца</b> для
	  <div class ='small_pic'>
		  <img src = "/assets/item_picture/ring_of_basilius.jpg">
		</div>
		<b>Базилуса</b>, который поможет Фантому и его няньке чаще напрягать врагов своими нюками, а также немного контролировать ситуацию при супер ранних пушах противника.
	</div>

  <div class = 'article_text_block'>
    Далее покупаем
    <div class ='small_pic'>
		  <img src = "/assets/item_picture/boots_of_speed.jpg">
		</div>
		<b>Сапог</b>, после чего если понимаем что враги:
  </div>

  <div class = 'article_text_block'>
    - <b>Не напрягаются</b> или <b>не могут</b> нас согнать с линии, то докупаем 
    <div class ='small_pic'>
		  <img src = "/assets/item_picture/ring_of_aquila.jpg">
		</div>
		<b>Аквилу</b>
    и продолжаем фармить на линии.
  </div>

  <div class = 'article_text_block'>
    - <b>Напрягаются</b> и на линии у вас постоянно ошиваются превосходящие силы врагов, которые не дают нам фармить, мы валим на другой лайн либо копим на
    <div class ='small_pic'>
		  <img src = "/assets/item_picture/morbid_mask.jpg">
		</div>
     <b>Морбит маску</b>, с которой продолжаем фарм уже не на линии, а в лесу на безопасных спаунах.	
  </div>

  <h6>Этап 2</h6>

  <div class = 'article_text_block'>
    Фармим себе на
    <div class ='small_pic'>
		  <img src = "/assets/item_picture/yasha.jpg">
		</div>
    <b>Яшу</b>, она ускорит наш фарм, а для нас сейчас это самое главное + есть вероятность, что именно она поможет убежать или надавать по щам.
  </div>

  <div class = 'article_text_block'>
  	Далее, если дела идут:
  </div>

  <div class = 'article_text_block'>
  	- <b>Хорошо.</b> Покупаем
    <div class ='small_pic'>
		  <img src = "/assets/item_picture/diffusal_blade.jpg">
		</div>
		<b>Диффуза</b>
		, с которыми мы можем хорошенько надавать по почкам + с этим предметом скорость фарма выходит на новый уровень. Следом апаем свои сапоги в 
    <div class ='small_pic'>
		  <img src = "/assets/item_picture/boots_of_travel.jpg">
		</div>
		
		<b>Трэвела</b>, с которыми фармим и при любом удобном моменте подключаемся в драки, пушим или сплит пушим.
  </div>

  <div class = 'article_text_block'>
  	- <b>Плохо.</b> Всеми правдами и неправдами пытаемся наскрести на
  	<div class ='small_pic'>
		  <img src = "/assets/item_picture/drum_of_endurance.jpg">
		</div>
		<b> Барабаны</b>, докупаем всё необходимое для
  	<div class ='small_pic'>
		  <img src = "/assets/item_picture/power_treads.jpg">
		</div>
		<b>ПТ</b>		
		и вместе со своей командой стараемся выживать...
  </div>

  <div class = 'article_text_block'>
  	- <b>Капец как плохо.</b> Стойте за башнями и отбрасывайтесь своим копьём, как индеец=)  
  </div>

  <hr>
	
	<h3>Середина игры</h3>

	<div class = 'side_cont'>
	  <div class = 'article_text_block'> 
		  <b>Ситуация 1</b>. Если дела шли у нас <b>хорошо</b>, наш итоговый закуп будет выглядеть примерно следующим образом:
	  </div>

		<div class = 'item_build_cont'>
		  <div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/boots_of_travel.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/diffusal_blade.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/magic_wand.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/yasha.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/ring_of_aquila.jpg">
			</div>
		</div>

	  <div class = 'article_text_block'> 
		  <div class ='small_pic'>
			  <img src = "/assets/item_picture/ring_of_aquila.jpg">
			</div> 
			<b>Аквилу</b> можно разобрать и замутить себе
			<div class ='small_pic'>
			  <img src = "/assets/item_picture/vladmir_offering.jpg">
			</div>
		  <b>Владимир</b>, с которым фармить станет приятнее + он даст небольшой профит команде, стоящей рядом с вами.  
	  </div>
	</div>

	<div class = 'side_cont side_cont_mrg_r'>
	  <div class = 'article_text_block'> 
		  <b>Ситуация 2</b>. Если игра пока складывается <b>не в нашу пользу</b>, то закуп будет выглядеть примерно следующим образом:
	  </div>

		<div class = 'item_build_cont'>
		  <div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/power_treads.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/drum_of_endurance.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/magic_wand.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/yasha.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/ring_of_aquila.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/tp_scroll.jpg">
			</div>
		</div>

	  <div class = 'article_text_block'>
	    Далее, если вам удалось выдержать вражеский натиск, докупаем
			<div class ='small_pic'>
			  <img src = "/assets/item_picture/sange.jpg">
			</div>
			<b>Sange</b> для
			<div class ='small_pic'>
			  <img src = "/assets/item_picture/sange_and_yasha.jpg">
			</div>
			<b>Sange and Yasha</b>, который за свою небольшую цену сделает нас немного жирнее и увереннее в драках. После продаём <b>аквилу</b> и приобретаем
			<div class ='small_pic'>
			  <img src = "/assets/item_picture/diffusal_blade.jpg">
			</div>
			<b>Дифуза</b>		  
	  </div>
	</div>
  
  <div class = 'article_text_block'> 
    Дальнейший выбор предметов будет зависить от того чего нам не хватает в драке. <b>Недостаток в уроне</b> для Фантома восполняют следующие предметы:	
  </div>
  <div class = 'article_text_block'> 
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/butterfly.jpg">
		</div>
		<b>Butterfly</b>. По умолчанию, это самый практичный предмет для нас. Даёт всё, что нам нужно. Помните иллюзии получают только бонус от прироста ловкости и способность к уклонению.
  </div>
  <div class = 'article_text_block'> 
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/abyssal_blade.jpg">
		</div>
		<b>Abyssal blade</b>. Покупаем в случае, если в вашей команде не оказалось станов, а этих проклятых Тинкеров, Паков и других юрких героев как-то нужно уже ловить.
  </div>
  <div class = 'article_text_block'> 
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/monkey_king_bar.jpg">
		</div>
		<b>Monkey king bar</b>. Покупаем только когда у врагов есть хотя бы один из представителей команды <b>"Попробуй попади в меня"</b>:
  </div>
		
	<div class = 'article_text_block'>
	  <div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/broodmother.jpg">
		</div>
		,
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/brewmaster.jpg">
		</div>
		,
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/phantom_assassin.jpg">
		</div>
		,
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/riki.jpg">
		</div>
		. 
	</div>

	<div class = 'article_text_block'>
		Или если у кого-то в инвентаре лежит:
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/butterfly.jpg">
		</div>
		<b>Бабочка</b>,
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/solar_crest.jpg">
		</div>
		<b>Солар крест</b> или
	  <div class ='small_pic'>
		  <img src = "/assets/item_picture/radiance.jpg">
		</div>
		<b>Радианс</b> 
	</div>

  <div class = 'article_text_block'> 
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/diffusal_blade_2.jpg">
		</div>
		<b>Diffusal blade (lvl 2)</b>. Не забываем апать их, когда на них заканчиваются заряды. Обратите внимнаие, что рецепт для апгрейда диффузов стоит <b>700 голды</b>, и по сути повышает нашу <b>ловкость</b> на целых <b>10 единиц</b>, ничто в доте не даёт такой прирост к ловкости за такие деньги.
  </div>

  <div class = 'article_text_block'>
    Если понимаем, что Фантому нужно стать плотнее и <b>повысить свои статы</b> в этом ему помогут такие предметы как:
  </div>
  <div class = 'article_text_block'> 
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/eye_of_skadi.jpg">
		</div>
		<b>Eye of Skadi</b>. По умолчанию, является самым оптимальным для нас предметом на жирность да и в целом на статы. Польза от этого предмета для наших иллюзий сравнима с пользой от <b>Бабочки</b>, но всё же этот предмет больше про плотность героя и про затяжные контактные бои.     
  </div>
  <div class = 'article_text_block'> 
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/manta_style.jpg">
		</div>
		<b>Manta style</b>. Универсальный предмет, у нас он без дела не пролежит. Если в какой-то момент мы понимаем, что нашего эскейпа
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">
		</div>
		и
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/diffusal_blade.jpg">
		</div>
		диффузов нам ные хватает, чтобы снимать с себя всякие дебаффы, однозначно приобретаем. Также диффуза хорошо помогают пушить/сплитпушить, причём помните иллюззии с манты, в отличии от иллюзий Фантома, бьют в <b>2 раза</b> сильнее более плотные, не говоря уже о том, что на них можно <b>байтить</b> или проводить ими <b>разведку</b>.       
  </div>
  <div class = 'article_text_block'> 
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/heart_of_tarrasque.jpg">
		</div>
		<b>Heart of Tarrasque</b>. В отличии от
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/eye_of_skadi.jpg">
		</div>
		и
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/manta_style.jpg">
		</div>
		предмет для нас более ситуативный. Берём, если понимаем, что нам для плотности нужно именно хп. Такое бывает, когда у команды противника основной урон <b>магический</b> или <b>чистый</b>, в таких ситуациях толку от нашего армора мало, ведь нам не нужно противостоять <b>физичесому</b> урону.    
  </div>

  <hr>

  <h3>Поздняя стадия игры</h3>

  <div class = 'article_text_block'>
  	При грамотном пике Фантома и правильной игре, игра не должна уйти в лейт. Но бывает всякое и в лейте итембилд фантома должен выглядеть примерно так:  
  </div>

  <div class = 'side_cont'>
	  <div class = 'article_text_block'> 
		  <b>Итембилд на плотность</b>
	  </div>

		<div class = 'item_build_cont'>
		  <div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/boots_of_travel.jpg">
			</div>  
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/butterfly.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/abyssal_blade.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/heart_of_tarrasque.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/manta_style.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/eye_of_skadi.jpg">
			</div>
		</div>

		<div class = 'article_text_block'> 
		  Если ожидается затяжной контактный бой, то меняем 
			<div class ='small_pic'>
			  <img src = "/assets/item_picture/heart_of_tarrasque.jpg">
			</div>
		  <b>Тараску</b> на
			<div class ='small_pic'>
			  <img src = "/assets/item_picture/satanic.jpg">
			</div>
		  <b>Сатаник</b>
	  </div>

	</div>

	<div class = 'side_cont side_cont_mrg_r'>
	  <div class = 'article_text_block'> 
		  <b>Итембилд на урон</b>
	  </div>

		<div class = 'item_build_cont'>
		  <div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/boots_of_travel.jpg">
			</div>  
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/butterfly.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/abyssal_blade.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/daedalus.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/diffusal_blade_2.jpg">
			</div>
			<div class ='norm_item_pic'>
			  <img src = "/assets/item_picture/manta_style.jpg">
			</div>
		</div>

		<div class = 'article_text_block'> 
		  Если понимаете, что от пассивки 
			<div class ='small_pic'>
			  <img src = "/assets/item_picture/diffusal_blade_2.jpg">
			</div>
			<b>Диффузов</b> толку мало, продаём их и покупаем, вторую
			<div class ='small_pic'>
			  <img src = "/assets/item_picture/butterfly.jpg">
			</div>
			 <b>Бабочку</b>. 

	  </div>
	</div>

  <div class = 'article_text_block'>
  	И чтобы картина была законченной не забудьте съесть
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/moon_shard.jpg">
		</div>
		<b>Moon shard</b>.	 
  </div>
  
  <hr>

  <h3>Кого взять c собой на линию?</h3>

  <div class = 'article_text_block'>
    Фантом - кэрри. На линию он идёт фармить. В саппорты ему нужна хорошая нянька, которая будет отгонять вражеских героев, тем самым обеспечивая Фантому комфортный и спокойный фарм.
  </div>

  <div class = 'article_text_block'>
  	<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/dazzle.jpg">	
		</div>
  	<b>Дазл</b>. Самый топовый для нас саппорт. Есть хил, отличный сейв, хорошо харасит + благодаря его способности
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/dazzle_skill_3.png">
		</div>
  	<b>Shadow wave</b> и нашим иллюзиям со скиллов (
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">
		</div>
  	и
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">
		</div>
  	) мы можем давольно успешно убивать врагов на начальных стадиях игры. 
  </div>

  <div class = 'article_text_block'>
  	<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/witch_doctor.jpg">	
		</div>
		<b>Вич</b> и
  	<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/oracle.jpg">	
		</div>
		<b>Оракул</b> тоже хорошие сапы с неплохим сейвом и хилом. 
  </div>

  <div class = 'article_text_block'>
    <div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/bane.jpg">
		</div>
		<b>Бейн</b>. Может засейвить своим
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/bane_skill_3.png">
		</div>
		<b>Nighmare</b>, а благодаря своему
		<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/bane_skill_1.png">
		</div>
		<b>Enfeeble</b>
		минимизирует возможный фарм врага. 
	</div>

  <div class = 'article_text_block'>
  	<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/lina.jpg">
		</div>
		<b>Лина</b> и
  	<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/mirana.jpg">
		</div>
		<b>Мирана</b> за счёт своего большого рэнжа крайне эффективно могут харасить вражеских героев. Также эти два героя примичательны тем, что у них есть выход в лейт.
  </div>

  <div class = 'article_text_block'>
  	<div class = 'small_hero_pic'>
		  <img src = "/assets/hero_picture/keeper_of_the_light.jpg">
		</div>
  	<b>Котл</b>. Стоит отметить этого героя, ведь благодаря его
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/keeper_of_the_light_skill_3.png">
		</div>
  	<b>Chakra magic</b> мы с завидной частотой сможем спамить своим
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">
		</div>
		.
  </div>


  
  <hr>

	<h3>Скиллбилд</h3>

  <div class = 'article_text_block'>
  	Наиболее <b>оптимальная</b> раскачка Фантома следующая:
  </div>	

	<div class = 'skill_build_cont'>
		<div class = 'skill_build_elem'>
			<div>1</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>2</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>3</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>4</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>5</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>6</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>7</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>8</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>9</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>10</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>11</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>12</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>13</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>14</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>15</div>
		  <img src = "/assets/skill_picture/plus.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>16</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
	</div>

  <div class = 'article_text_block'>
  	<ul>
  		<li>
	  	Здесь мы первым делом максим
	  	<div class ='small_skill_pic'>
			  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">
			</div>
	  	наш <b>нюк</b>. Делается это для того, чтобы при удачной возможности попытаться убить вашего опонента на линии, а такая возможность обязательно подвернётся. 
  		</li>
  		<li>
		  	На втором уровне берём
		  	<div class ='small_skill_pic'>
				  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">
				</div>
		  	наш <b>эскейп</b> на единичку, чтобы мы могли что-то противопоставить ранним гангам на нас. 
  		</li>
  		<li>
		  	На четвёртом на единичку берём 
		  	<div class ='small_skill_pic'>
				  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">
				</div>
				<b>раш</b>, который нам временами будет помогать добивать крипов, убегать от врагов на их крипов, возможно, даже гонять врага, стоящего с вами на линии и делать ранние килы, если того позволит сложившаяся ситуация.
  		</li>
  	</ul>
  </div>

  <div class = 'article_text_block'>
  	Иногда бывает, что у вашей команды <b>всё хорошо</b> и всё что вам нужно это только аккуратно додавить противника, в таком случае лучше использовать следующую раскачку:
  </div>

	<div class = 'skill_build_cont'>
		<div class = 'skill_build_elem'>
			<div>1</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>2</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>3</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>4</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>5</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>6</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>7</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>8</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>9</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>10</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>11</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>12</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>13</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>14</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>15</div>
		  <img src = "/assets/skill_picture/plus.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>16</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
	</div>

	<div class = 'article_text_block'>
		Здесь мы по сути жертвуем кулдауном 
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">
		</div>
		своего эскейпа в угоду 
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">
		</div>
		своему рашу. Такая раскачка для агрессивной игры, не надо использовать её, когда вам приходится терпеть. А если, вдруг получается, что вас <b>давят со всех сторон</b>, то стоит задуматься о такой раскачке:
	</div>

	<div class = 'skill_build_cont'>
		<div class = 'skill_build_elem'>
			<div>1</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>2</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>3</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>4</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>5</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>6</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>7</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_1.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>8</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>9</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>10</div>
		  <img src = "/assets/skill_picture/plus.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>11</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>12</div>
		  <img src = "/assets/skill_picture/plus.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>13</div>
		  <img src = "/assets/skill_picture/plus.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>14</div>
		  <img src = "/assets/skill_picture/plus.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>15</div>
		  <img src = "/assets/skill_picture/plus.png">	
		</div>
		<div class = 'skill_build_elem'>
			<div>16</div>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
	</div>

	<div class = 'article_text_block'>
		Здесь мы вовсе забываем про свой
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">
		</div>
		<b>раш</b> и максим плюсы после того как замаксим нюк с эскейпом, ведь когда вас давят, вам редко приходится догонять кого-то, если вообще приходится. 
	</div>

  <hr>

	<h3>Против кого Фантом хорош?</h3>

	<div class = 'article_text_block'>
		В доте есть герои, у которых очень сильный урон при <b>фокусе именно одной цели</b>. Вот как раз против таких героев Фантом чувствует себя крайне уверенно. Это такие герои как:		 
	</div>

	<div class = 'article_text_block'>
	  <div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/clinkz.jpg">
		</div>
		<b>Клинкз</b> начинает агрессировать очень рано. Правильный Клинкз, понимая, что
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">
		</div>
		эскейп Фантома не даст ему вас легко убить соберёт против Фантома
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/orchid_malevolence.jpg">
		</div>
		<b>Орчид</b>, но Фантом ни минуты не сомневаясь собирает 
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/manta_style.jpg">
		</div>
		<b>Манту</b>, как можно быстрее, сводя этим агрессию Клинкза против него на нет. 
	</div>

	<div class = 'article_text_block'>
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/viper.jpg">
		</div>
		C <b>Вайпером</b> почти такая же история, что и с Клинкзом, за одним исключением: Вайпер в силу своей <b>природной медлительности</b> не сможет убежать от Фантома. Он, конечно, может купить себе
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/shadow_blade.jpg">
		</div>
		<b>Шадоу блейд</b>, но Фантом ведь тоже не дурак, пойдёт и купит
		<div class ='small_pic'>
		  <img src = "/assets/item_picture/dust_of_appearance.jpg">
		</div>
		<b>Дасты</b> и всё, Фантом таких не отпускает - шах и мат.    
  </div>

	<div class = 'article_text_block'>
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/templar_assassin.jpg">
		</div>
		<b>Ланая</b>. Фантом своим градом из ударов с иллюзий крайне быстро сбивает
  	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/templar_assassin_skill_1.png">
		</div>
		<b>рефракшен</b> Ланаи. Далее ситуация для Ланаи осложняется тем, что 
   	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/templar_assassin_skill_3.png">
		</div>
		<b>пассивка</b> Ланаи не наносит урон дополнительным целям, когда она бьёт иллюзию.
  </div>

	<div class = 'article_text_block'>
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/wraith_king.jpg">
		</div>
		<b>Скелетон</b>. Боже как это герой страдает от Фантома ... И дело не в уроне, Скелетон отлично его терпит, всё дело в
    <div class ='small_pic'>
		  <img src = "/assets/item_picture/diffusal_blade.jpg">
		</div>
		<b>Диффузах</b>, которые чертовски быстро выжигают ему ману, не давая
   	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/wraith_king_skill_4.png">
		</div>
		 ульте Скелетона сработать, а о том чтобы дать 
   	<div class ='small_skill_pic'>
		  <img src = "/assets/skill_picture/wraith_king_skill_1.png">
		</div>
		 стан больше двух раз Скелетону приходится только мечтать. 
  </div>

		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/spirit_breaker.jpg">
		</div>
		<b>Баратрум</b>,
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/drow_ranger.jpg">
		</div>
		<b>Тракса</b>,
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/tinker.jpg">
		</div>
		<b>Тинкер</b>,
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/sniper.jpg">
		</div>
		<b>Снайпер</b>,
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/undying.jpg">
		</div>
		<b>Андаинг</b>,
		<div class ='norm_item_pic'>
		  <img src = "/assets/hero_picture/doom.jpg">
		</div>
		<b>Дум</b>.

</div>

<div class = 'article_additional_info'>
	<%= link_to "Глянуть комментарии (#{@article.comment_counter})", shiny_comments_path(article_id: @article.id) %>
	<div class = 'article_inf_elem'>
	  Просмотров: <%= @article.view_counter %>
	</div>
	<div class = 'article_inf_elem'>
	  Обновлён: <%= @article.updated_at.strftime('%F') %>
	</div>
</div>

Доп:

Я хз почему маска мудреца выглядит именно так, это больше похоже скорее на маску загадочника или на маскарадную маску или ...