<h2>Забыли пароль?</h2>

<div class = 'devise_custom_cont'>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class='devise_custom_field'>
    <%= f.label 'Электронная почта' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class = 'devise_custom_btn'>
    <%= f.button :button do %>
      Отправить
    <% end %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>
