<!DOCTYPE html>
<html>
<head>
  <title>Shiny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class = 'top_cont'>
		<div class = 'login_cont'>
			<% if current_user.nil? %>
		    <%= link_to 'Войти', new_user_session_path %>	
		  <% else %>
		    <%= link_to 'Профиль', profile_path %>	
		  <% end %>  
		</div>
		<div class = 'menu_cont'>
			<%= link_to blog_path do %>
				<div class = 'menu_elem' id = 'menu_elem_1'><p>Блог</p>
					<div class = 'chosen_mark' id = 'chosen_mark_1'>
					</div>
				</div>
      <% end %>
			<%= link_to basics_path do %>
				<div class = 'menu_elem' id = 'menu_elem_2'><p>Основы</p>
					<div class = 'chosen_mark' id = 'chosen_mark_2'>
					</div>
				</div>
      <% end %>
			<%= link_to guides_path do %>
				<div class = 'menu_elem' id = 'menu_elem_3'><p>Гайды</p>
					<div class = 'chosen_mark' id = 'chosen_mark_3'>
					</div>
				</div>
      <% end %>
		</div>
	</div>

	<div class = 'mid_cont'>
		<div class = 'content_cont'>
	    <%= yield %>
		</div>
		<div class = 'sidebar'>
		</div>
	</div>

	<div class = 'bot_cont'>
		<div><%= link_to 'О проекте', about_path   %></div>
		<div><%= link_to 'Контакты', contacts_path %></div>
	</div>

</body>
</html>
